{% extends 'base/base.html' %}
{% block contenido %}

<div class="container mt-4">

    <h2>Categorías</h2>

    <a href="{% url 'crear_categoria' %}" class="btn btn-success mb-3">
        Nueva Categoría
    </a>
    <a href="{% url 'lista_productos' %}" class="btn btn-secondary mb-3">Volver</a>
    
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for c in categorias %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>
                    <a href="{% url 'editar_categoria' c.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_categoria' c.id %}" 
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar esta categoría?')">
                       Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}