<!DOCTYPE html>
<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<title>Dashboard</title>

</head>

<body class="bg-light">

<div class="container mt-5">

<h1 class="mb-4">Dashboard LiquorEvents</h1>

<div class="row">

<div class="col-md-3">
<div class="card text-white bg-success mb-3">
<div class="card-body">
<h5>Ventas Totales</h5>
<h3>${{ total_ventas }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-primary mb-3">
<div class="card-body">
<h5>Cantidad Ventas</h5>
<h3>{{ cantidad_ventas }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-warning mb-3">
<div class="card-body">
<h5>Productos</h5>
<h3>{{ productos }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-danger mb-3">
<div class="card-body">
<h5>Torneos</h5>
<h3>{{ torneos }}</h3>
</div>
</div>
</div>

</div>

</div>
<hr>

<h3>Ventas por día</h3>

<canvas id="graficaVentas"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const datos = JSON.parse('{{ ventas_por_dia|escapejs }}');

const labels = datos.map(item => item.dia);
const valores = datos.map(item => item.total);

const ctx = document.getElementById('graficaVentas');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Ventas por día',
            data: valores,
            borderWidth: 2
        }]
    }
});

</script>
<hr>

<h3>Ventas por torneo</h3>

<table class="table">

<tr>
<th>Torneo</th>
<th>Total vendido</th>
</tr>

{% for v in ventas_por_torneo %}

<tr>
<td>{{ v.torneo__nombre|default:"Venta normal" }}</td>
<td>${{ v.total }}</td>
</tr>

{% endfor %}

</table>
</body>
</html>