{% extends 'base/base.html' %}
{% block contenido %}

<div class="container mt-4">

    <h2>
        {% if categoria %}Editar{% else %}Crear{% endif %} Categoría
    </h2>

    <form method="post">
        {% csrf_token %}

        <label>Nombre:</label>
        <input type="text" name="nombre" class="form-control"
               value="{{ categoria.nombre|default:'' }}" required>

        <br>

        <button class="btn btn-success">Guardar</button>
                            <a href="/categorias" class="btn btn-outline-danger px-4 shadow-sm">
                                <i class="fas fa-times"></i> Cancelar
                            </a>    </form>

</div>

{% endblock %}