{% extends 'base/base.html' %}
{% block contenido %}
{% load humanize %}

<div class="container mt-4">

    <h2 class="mb-4">Lista de Productos</h2>

    <div class="mb-3">
        <a href="{% url 'crear_producto' %}" class="btn btn-success">
            Crear Producto
        </a>

        <a href="/compras/lista" class="btn btn-primary">
            Compras
        </a>

        <a href="{% url 'movimientos_inventario' %}" class="btn btn-dark">
            Ver Movimientos
        </a>
    </div>
<form method="get" class="row mb-4">

    <div class="col-md-4">
        <input 
            type="text" 
            name="buscar" 
            class="form-control" 
            placeholder="Buscar producto..."
            value="{{ request.GET.buscar }}"
        >
    </div>

    <div class="col-md-4">
        <input 
            type="text" 
            name="categoria" 
            class="form-control" 
            placeholder="Filtrar por categoría"
            value="{{ request.GET.categoria }}"
        >
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary">Buscar</button>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Limpiar</a>
    </div>

</form>
    <table class="table table-hover table-bordered text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for p in productos %}
            <tr>
                <td>{{ p.codigo }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.marca }}</td>
                <td>{{ p.categoria }}</td>

                <td>$ {{ p.precio|floatformat:0|intcomma}}</td>

                <td>
                    {% if p.stock == 0 %}
                        <span class="badge bg-danger">Sin stock</span>
                    {% elif p.stock <= 5 %}
                        <span class="badge bg-warning text-dark">{{ p.stock }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ p.stock }}</span>
                    {% endif %}
                </td>

                <td>
                {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" width="60" height="60" style="object-fit: cover;">
                {% else %}
                    <span class="text-muted">Sin imagen</span>
                {% endif %}
                </td>

                <td>
                    <a href="{% url 'editar_producto' p.id %}" class="btn btn-sm btn-warning">
                        Editar
                    </a>

                    <a href="{% url 'eliminar_producto' p.id %}" 
                       class="btn btn-sm btn-danger"
                       onclick="return confirm('¿Eliminar este producto?')">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
    <ul class="pagination justify-content-center">

        {% if productos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">Primero</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ productos.previous_page_number }}">Anterior</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Página {{ productos.number }} de {{ productos.paginator.num_pages }}
            </span>
        </li>

        {% if productos.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ productos.next_page_number }}">Siguiente</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ productos.paginator.num_pages }}">Último</a>
        </li>
        {% endif %}

    </ul>
</nav>

</div>

{% endblock %}